@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #080710;
}
.round-shapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.shape-1,
.shape-2 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 30px 0;
}

.shape-1 {
  background: linear-gradient(to right, #1953b8, #208adb);
  box-shadow: 0 0 0 1px #208adb;
  /* POSTION TO THE TOP left */
  position: absolute;
  top: 0;
  left: 0;
}

.shape-2 {
  background: linear-gradient(to right, #f46726, #ee9619);
  /* POSTION TO THE BOTTOM right */
  position: absolute;
  bottom: 0;
  right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: absolute;
  top: 15%;
  width: 80%;
  z-index: 9999;
  background-color: #28272f;
  backdrop-filter: blur(8px);
  opacity: 0.9;
  margin: 0 auto;
  display: block;
}

h1 {
  padding-top: 2.5em;
  text-align: center;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form-group {
  padding: 20px 0;
}

input,
label {
  display: block;
  width: 100%;
}

input,
button,
.btn-secondary,
.form-container {
  border: 1px solid transparent;
  border-radius: 5px;
}

input {
  padding: 10px;
  margin: 10px 0;
  background-color: #53575e;
  outline: none;
}
button {
  padding: 12px;
  color: #000;
  font-weight: 700;
  margin: 20px 0;
}
button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.btn-secondary {
  display: flex;
  justify-content: center;
  gap: 6px;
  background-color: #53575e;
  color: #fff;
  padding: 8px 12px;
  width: 45%;
  cursor: pointer;
}

@media (min-width: 576px) {
  .shape-1 {
    top: 5%;
    left: 15%;
  }
  .shape-2 {
    bottom: 10%;
    right: 15%;
  }
}

@media (min-width: 768px) {
  .form-container {
    max-width: 50%;
  }
  .shape-1 {
    top: 5%;
    left: 20%;
  }
  .shape-2 {
    bottom: 10%;
    right: 20%;
  }
}

@media (min-width: 992px) {
  .form-container {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .form-container {
    max-width: 30%;
  }
  .shape-1 {
    left: 25%;
  }
  .shape-2 {
    right: 25%;
  }
}
