@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section.container {
  background-color: #080710;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100vh;
  width: 100%;
}
section.container .form-container {
  position: relative;
}
section.container .form-container::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(#1845ad, #23a2f6);
  border-radius: 50%;
  transform: translate(0%, 0%);
  left: -20%;
  top: -20%;
}

section.container .form-container::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #ff512f, #f09819);
  border-radius: 50%;
  transform: translate(0%, 0%);
  right: -20%;
  bottom: -20%;
}

section.container form * {
  letter-spacing: 0.5px;
  color: #ffffff;
}

section.container form {
  position: relative;
  height: 550px;
  z-index: 1;
  width: 450px;
  max-width: 100%;
  background-color: #ffffff3f;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff1a;
  box-shadow: 0 0 40px #08071099;
  padding: 50px 35px;
}

section.container form h3 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

section.container .form-group {
  margin: 2rem 0;
}

section.container .form-group input {
  height: 50px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #ffffff12;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 0.5rem 0;
}
section.container .form-group a.forgot-pasword {
  float: right;
  color: #7db5db;
  margin: 0.25rem;
  text-decoration: none;
}
section.container button {
  margin-top: 2rem;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
